# **TikTok Project**
**End-of-course project**

Welcome to the TikTok Project!

You have just started as a data professional at TikTok.

The team is still in the early stages of the project. You have received notice that TikTok's leadership team has approved the project proposal. To gain clear insights to prepare for a claims classification model, TikTok's provided data must be examined to begin the process of exploratory data analysis (EDA).

**Project plan**

TikTok is working on the development of a predictive model that can determine whether a video contains a claim or offers an opinion. With a successful prediction model, TikTok can reduce the backlog of user reports and prioritize them more efficiently
Project background 
In this activity, you will examine data provided and prepare it for analysis.
<br/>

**The purpose** of this project is to investigate and understand the data provided. This activity will:

1.   Acquaint you with the data

2.   Compile summary information about the data

3.   Begin the process of EDA and reveal insights contained in the data

4.   Prepare you for more in-depth EDA, hypothesis testing, and statistical analysis

**The goal** is to construct a dataframe in Python, perform a cursory inspection of the provided dataset, and inform TikTok data team members of your findings.
<br/>
*This activity has three parts:*

**Part 1:** Understand the situation
* How can you best prepare to understand and organize the provided TikTok information?

**Part 2:** Understand the data

* Create a pandas dataframe for data learning and future exploratory data analysis (EDA) and statistical activities

* Compile summary information about the data to inform next steps

**Part 3:** Understand the variables

* Use insights from your examination of the summary data to guide deeper investigation into variables

<br/>


TikTok’s data team is in the earliest stages of the claims classification project. The **following tasks** are needed before the team can begin the data analysis process: 

 *	A project proposal identifying the following: 

    * Organize project tasks into milestones 

    * Classify tasks using the PACE workflow 

    * Identify relevant stakeholders 

**Course 1 PACE Strategy Document** to plan your project while considering your audience members, teammates, key milestones, and overall project goal. 

**Create a project proposal for the data team.**

For your first assignment, TikTok is asking for a project proposal that will create milestones for the tasks within the comment classification project. Remember to take into account your audience, team, project goal, and PACE stages of each task in planning your project deliverable.

If you selected the TikTok scenario, you are working on the development of a predictive model that can be used to determine whether a video contains a claim or whether it offers an opinion.

# **TikTok users have the ability to report videos and comments that contain user claims.**

These reports identify content that needs to be reviewed by moderators.

This process generates a large number of user reports that are difficult to address quickly.

Development of a predictive model that can determine whether a video contains a claim or offers an opinion.

With a successful prediction model, TikTok can reduce the backlog of user reports and prioritize them more efficiently.

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tik_tok_data = pd.read_csv("tiktok_dataset.csv")

In [3]:
tik_tok_df = pd.DataFrame(tik_tok_data)

In [4]:
tik_tok_df.columns.tolist()

['#',
 'claim_status',
 'video_id',
 'video_duration_sec',
 'video_transcription_text',
 'verified_status',
 'author_ban_status',
 'video_view_count',
 'video_like_count',
 'video_share_count',
 'video_download_count',
 'video_comment_count']

In [5]:
tik_tok_df.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

In [6]:
tik_tok_df.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [7]:
tik_tok_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [8]:
tik_tok_df['claim_status'].value_counts()

claim_status
claim      9608
opinion    9476
Name: count, dtype: int64

In [9]:
claim = tik_tok_df[tik_tok_df['claim_status'] == 'claim']

In [10]:
opinion = tik_tok_df[tik_tok_df['claim_status'] == 'opinion']

In [11]:
claim_na = tik_tok_df[tik_tok_df['claim_status'].isna()]

# Claim VS Opinion

In [12]:
print("Number of videos categorized as claims:",len(claim))
print("Number of videos categorized as opinions:",len(opinion))
print("Total # of categorized videos:",len(opinion)+len(claim))
print("Number of videos without a claim status:", len(claim_na))

Number of videos categorized as claims: 9608
Number of videos categorized as opinions: 9476
Total # of categorized videos: 19084
Number of videos without a claim status: 298

In [13]:
tik_tok_df = tik_tok_df.dropna()

In [14]:
tik_tok_df

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19079,19080,opinion,1492320297,49,in our opinion the earth holds about 11 quinti...,not verified,active,6067.0,423.0,81.0,8.0,2.0
19080,19081,opinion,9841347807,23,in our opinion the queens in ant colonies live...,not verified,active,2973.0,820.0,70.0,3.0,0.0
19081,19082,opinion,8024379946,50,in our opinion the moon is moving away from th...,not verified,active,734.0,102.0,7.0,2.0,1.0
19082,19083,opinion,7425795014,8,in our opinion lightning strikes somewhere on ...,not verified,active,3394.0,655.0,123.0,11.0,4.0
19083,19084,opinion,4094655375,58,in our opinion a pineapple plant can only prod...,not verified,active,5034.0,815.0,281.0,11.0,1.0

# Claim_status VS videos

In [15]:
claim_mean_med = claim.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)

In [16]:
opinion_mean_med = opinion.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)

In [17]:
claim_vs_opinion_perc = ((claim_mean_med-opinion_mean_med)/claim_mean_med*100).round(2).drop('median').rename({'mean':'mean percentage'})

In [18]:
claims_fin = pd.concat({'claim':claim_mean_med, 'opinion':opinion_mean_med, 'percentage claim/opinion':claim_vs_opinion_perc})
claims_fin

                                          video_view_count  video_like_count  \
claim                    mean                    501029.45         166373.33
                         median                  501555.00         123649.00
opinion                  mean                      4956.43           1092.73
                         median                    4953.00            823.00
percentage claim/opinion mean percentage             99.01             99.34

                                          video_share_count  \
claim                    mean                      33026.42
                         median                    17997.50
opinion                  mean                        217.15
                         median                      121.00
percentage claim/opinion mean percentage              99.34

                                          video_download_count  \
claim                    mean                          2070.95
                         median                        1139.50
opinion                  mean                            13.68
                         median                           7.00
percentage claim/opinion mean percentage                 99.34

                                          video_comment_count
claim                    mean                          691.16
                         median                        286.00
opinion                  mean                            2.70
                         median                          1.00
percentage claim/opinion mean percentage                99.61

It can be easily said that who makes claiming drags more more attention from other people. The amount of videos viewed, liked, shared, downloaded and commented are a lot higher compare to videos where people give opinions. The difference from who gives a statement compared to who gives an opinion ranges from 99.01% to 99.61%. There are no variations in video duration.

# Active_ban VS videos

In [19]:
active_ban = tik_tok_df[tik_tok_df['author_ban_status'] == 'active']
banned_ban = tik_tok_df[tik_tok_df['author_ban_status'] == 'banned']
under_review_ban = tik_tok_df[tik_tok_df['author_ban_status'] == 'under review']

In [20]:
active_ban_mean_med = active_ban.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)
banned_ban_mean_med = banned_ban.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)
under_review_ban_mean_med = under_review_ban.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)

In [21]:
author_ban_status = pd.concat({
    'active': active_ban_mean_med,
    'banned': banned_ban_mean_med,
    'under_review': under_review_ban_mean_med
})
author_ban_status

                     video_view_count  video_like_count  video_share_count  \
active       mean           215927.04          71036.53           14111.47
             median           8616.00           2222.00             437.00
banned       mean           445845.44         153017.24           29998.94
             median         448201.00         105573.00           14468.00
under_review mean           392204.84         128718.05           25774.70
             median         365245.50          71204.50            9444.00

                     video_download_count  video_comment_count
active       mean                  882.28               295.13
             median                 28.00                 5.00
banned       mean                 1886.30               614.96
             median                892.00               209.00
under_review mean                 1631.73               542.48
             median                610.50               136.50

Who is banned has the most viewed, liked, shared, downloaded and commented videos, followed by under_review. These are people can are causing "troubles" in terms of report and likely to be reported.

In [28]:
print("Number of active people:", len(active_ban))
print("Number of actual ban:", len(banned_ban))
print("Number of people under review:", len(under_review_ban))

Number of active people: 15383
Number of actual ban: 1635
Number of people under review: 2066

In [23]:
verified = tik_tok_df[tik_tok_df['verified_status'] == 'verified']
verified_mean = verified.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)

In [24]:
not_verified = tik_tok_df[tik_tok_df['verified_status'] == 'not verified']
not_verified_mean = not_verified.drop(columns=['#', 'video_id','video_duration_sec']).select_dtypes(include=[np.number]).agg(['mean', 'median']).round(2)

In [56]:
print("Number of verified users:", len(verified))
print("Number of not verified users:", len(not_verified))
print("Percentage difference verified/not_Verified:", round((len(verified) - len(not_verified)) / len(not_verified) * 100, 2))

Number of verified users: 1200
Number of not verified users: 17884
Percentage difference verified/not_Verified: -93.29

In [25]:
verified_perc = (((verified_mean-not_verified_mean)/verified_mean)*100).round(2).drop('median').rename({'mean':'mean percentage'})
verified_perc

,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
mean percentage,-190.54,-189.82,-164.22,-205.96,-169.65

In [26]:
verified_and_not = pd.concat({'verified':verified_mean, 'not verified': not_verified_mean, 'percentage':verified_perc})
verified_and_not

                              video_view_count  video_like_count  \
verified     mean                     91439.16          30337.63
             median                    6023.50           1125.00
not verified mean                    265663.79          87925.77
             median                   46723.00           5156.00
percentage   mean percentage           -190.54           -189.82

                              video_share_count  video_download_count  \
verified     mean                       6591.45                358.15
             median                      178.50                 11.00
not verified mean                      17415.89               1095.81
             median                      879.00                 56.00
percentage   mean percentage            -164.22               -205.96

                              video_comment_count
verified     mean                          134.88
             median                          2.00
not verified mean                          363.70
             median                         12.00
percentage   mean percentage              -169.65

In [27]:
tot = pd.concat({'claimings': claims_fin.drop('percentage claim/opinion'), 'author bans': author_ban_status, 'verifications': verified_and_not.drop('percentage')})
tot

                                   video_view_count  video_like_count  \
claimings     claim        mean           501029.45         166373.33
                           median         501555.00         123649.00
              opinion      mean             4956.43           1092.73
                           median           4953.00            823.00
author bans   active       mean           215927.04          71036.53
                           median           8616.00           2222.00
              banned       mean           445845.44         153017.24
                           median         448201.00         105573.00
              under_review mean           392204.84         128718.05
                           median         365245.50          71204.50
verifications verified     mean            91439.16          30337.63
                           median           6023.50           1125.00
              not verified mean           265663.79          87925.77
                           median          46723.00           5156.00

                                   video_share_count  video_download_count  \
claimings     claim        mean             33026.42               2070.95
                           median           17997.50               1139.50
              opinion      mean               217.15                 13.68
                           median             121.00                  7.00
author bans   active       mean             14111.47                882.28
                           median             437.00                 28.00
              banned       mean             29998.94               1886.30
                           median           14468.00                892.00
              under_review mean             25774.70               1631.73
                           median            9444.00                610.50
verifications verified     mean              6591.45                358.15
                           median             178.50                 11.00
              not verified mean             17415.89               1095.81
                           median             879.00                 56.00

                                   video_comment_count
claimings     claim        mean                 691.16
                           median               286.00
              opinion      mean                   2.70
                           median                 1.00
author bans   active       mean                 295.13
                           median                 5.00
              banned       mean                 614.96
                           median               209.00
              under_review mean                 542.48
                           median               136.50
verifications verified     mean                 134.88
                           median                 2.00
              not verified mean                 363.70
                           median                12.00

# Final
The **core findings** are that **claim** videos get disproportionately more interactions, channels under **active ban** are surprisingly the most viewed,liked,shared,downloaded, and that **unverified users** (especially those making claims) **dominate interactions**. 

The number of videos containing **claims and opinions** are almost in equal numbers.
The **distribution** is evidently **right skewed** from the data. Plots would help understand more the situation.

These findings hint at:

* A “controversy‐drives‐engagement” effect: **claim-heavy content gets amplified.**

* A paradox where  hit the **most popular creators** receive bans most often from TikTok’s moderation flags

* **Verification status** as a measure for content type and engagement strategy.